################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/appsettings.json
/appsettings.Development.json
/.vs
/bin/codex
/obj/codex
/obj/codex_test
